body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7fb;
    margin: 0;
    padding: 20px;
}

.title{
    text-align: center;
    margin-bottom: 5px;
    color: #333;
}

.container{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.toolbox{
    width: 20%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toolbox h3{
    margin-bottom: 10px;
    text-align: center;
}

.tool-item {
  background: #e0e7ff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  cursor: grab;
  text-align: center;
  transition: 0.2s;
}

.tool-item:hover {
  background: #c7d2fe;
}

.canvas {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  min-height: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.json-preview {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

pre {
  background: #f3f4f6;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}

.form-preview {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#preview-area {
  margin-top: 15px;
  background: #f9fafb;
  padding: 15px;
  border-radius: 8px;
}